<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>masa {{id}} siparisler</h2>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sipariş</th>
            <th scope="col">Adet</th>
            <th scope="col">Fiyat</th>
            <th scope="col" *ngIf="durum()==true"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let siparis of siparisler">
            <td *ngIf="siparis.no===id"></td>
            <td *ngIf="siparis.no===id">{{siparis.urun}}</td>
            <td *ngIf="siparis.no===id"> 1 </td>
            <td *ngIf="siparis.no===id">₺ {{siparis.fiyat}}</td>
            <td *ngIf="siparis.no===id&&durum()==true" class="close"> <button class="btn"
                (click)="sil(siparis)">X</button></td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-success text-right align-text-bottom">
        <h4>Toplam Hesap : ₺ {{masaFiyat(id)}}</h4>
      </div>
      <div class="text-right" *ngIf="masaFiyat(id)!==0&&durum()==true"><button type="button"
          (click)="openModal(template)" class="btn btn-danger justify-content-end">Hesap al</button></div>

    </div>
  </div>

  <!-- MENU     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>MENU</h2>




      <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
        <accordion-group heading="{{kategori.ad}}" *ngFor="let kategori of kategoriler">
          <table class="table table-striped table-inverse">
            <tbody>
              <tr *ngFor="let urun of urunler">
                <td scope="row" *ngIf="urun.kategori==kategori.ad">{{urun.urun}}</td>
                <td *ngIf="urun.kategori==kategori.ad">₺ {{urun.fiyat}}</td>
                <td *ngIf="urun.kategori==kategori.ad"> <button class="btn btn-light"
                    (click)="ekle(urun.urun,urun.fiyat)">+</button></td>
              </tr>
            </tbody>
          </table>
        </accordion-group>
      </accordion>


      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Masa {{id}} Hesap Al</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <p>{{id}} numaralı masanın ₺{{masaFiyat(id)}} tutarındaki hesap ödemesi yapıldı mı? Fatura kesilecektir.</p>
          <button type="button" class="btn btn-default" (click)="hesap(id)">Evet</button>
          <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Hayır</button>

        </div>
      </ng-template>







      <!-- <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sipariş</th>
                <th scope="col">Fiyat</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Çay</td>
                <td>₺ 3</td>
                <td class="close">+</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kola</td>
                <td>₺ 7</td>
                <td class="close">+</td>
              </tr>
            </tbody>
          </table> -->
    </div>
  </div>

  <qrcode [qrdata]="masaUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

</div>